#conclusao{
    width: 100%;
    align-self: center;
    background-image: 
        var(--svg-onda-black);
    background-color: rgba(var(--fundo-alternativo), 0.6);
    background-repeat: repeat-x, no-repeat, no-repeat;
    background-position: 0 top, top center, center;
    background-size: auto 15px, 100% 40px, 100% 100%;
    animation: moverOnda 150s linear infinite;
    padding: 30px;
}
.container-titulo-descricao{
    width: 70%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0 0 24px 0;
    text-align: center;
}
.titulo-conclusao{
    font-size: x-large;
    font-weight: bold;
}
.descricao-conclusao{
    font-size: 0.95em;
}

.container-card-conclusao{
    max-width: 1600px;
    width: 90%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}
.card-conclusao{
    border-radius: 9px;
    width: 330px;
    max-width: 90%;
    height: 200px;
    background: linear-gradient(rgba(var(--fundo), 0.6), rgba(var(--fundo), 1));
    padding: 12px 24px;
    box-shadow: 0 0 20px 3px rgba(var(--fumaca-preta), 0.1);
    overflow-y: auto; 
    scrollbar-width: none;    
    -ms-overflow-style: none; 
}
.card-conclusao::-webkit-scrollbar {
    display: none;
}
.subtitulo-conclusao, .icon-conclusao{
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}
.texto-conclusao{
    font-size: 0.9em;
}

@media screen and (max-width: 900px){
    .container-titulo-descricao{
        width: 100%;
        padding: 30px 0;
    }
    .container-card-conclusao{
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width: 1359px){
    #conclusao{
        flex-direction: column;
        height: fit-content;
        animation: moverOnda 30s linear infinite;
    }
}


.fa-book-bookmark:before {
    content: "\e0bb"
}
.fa-people-pulling:before {
    content: "\e535"
}
.fa-chart-simple:before {
    content: "\e473"
}

.container-apoio-conclusao{
    width: 100%;
    padding: 30px 0 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 0.9em;
    gap:12px;
}

.container-apoio-conclusao p{
    opacity: 0.7;
}

#apoiar{
    text-decoration: none;
    color: rgba(var(--padrao), 1);
    background: linear-gradient(rgba(var(--fundo), 0.6), rgba(var(--fundo), 1));
    border-bottom: solid 6px rgba(var(--fumaca), 1);
    padding: 5px 12px;
    border-radius: 6px;
    opacity: 1;
    text-align: center;
    width: 100px;
    min-width: fit-content;
}

@media screen and (max-width: 500px){
    .container-apoio-conclusao{
        flex-direction: column;
    }
}
#apoiar:hover{
    border-bottom: solid 3px rgba(var(--fumaca), 1);
}

@media screen and (max-width: 1024px) {
    #apoiar{
        padding: 12px 24px;
    }
}