#container-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* Define que qualquer linha criada terá exatamente 100px de altura */
    grid-auto-rows: 100px; 
    gap: 12px;
    justify-content: space-between;
    justify-items: center;
    /* Impede que os cards estiquem verticalmente para preencher o container */
    align-items: start; 
    width: 100%;
    height: 70vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#container-icons::-webkit-scrollbar {
  display: none;
}

.btn-icon {
  box-shadow: inset 0 2px 4px rgba(var(--shadow), 0.2);
  box-shadow: 0 2px 4px rgba(var(--shadow), 0.2);
  font-size: small;
  cursor: pointer;
  font-family: "titulo", Bahnschrift, Cascadia Code, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  color: rgba(var(--padrao), 1);
  border: none;
  background-color: var(--fundo-card);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.1s;
  gap: 9px;
}

.btn-icon:hover {
    background-color: var(--hover);
}

.btn-icon > i {
    font-size: 25px;
    text-align: center;
}

.btn-icon > p {
  transform: translateY(6px);
}