.container-banner{
    width: 100%;
    position: relative;
    min-height: 550px;
    display: flex;
    font-family: "titulo", Bahnschrift, Cascadia Code, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 60px;
}
.container-icon-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-16px);
}
.hero-banner {
    margin-top: 120px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Canvas dos Ícones */
#iconCanvas {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
pointer-events: none;

/* Aplica o desbotado gradiente direto na camada do Canvas */
-webkit-mask-image: radial-gradient(
ellipse 85% 85% at 50% 50%,
black 30%,
rgba(0, 0, 0, 0.5) 70%,
transparent 100%
);
mask-image: radial-gradient(
ellipse 85% 85% at 50% 50%,
black 30%,
rgba(0, 0, 0, 0.5) 70%,
transparent 100%
);
}

/* Conteúdo por cima */
.hero-content {
position: relative;
z-index: 2;
text-align: center;
max-width: 750px;
padding: 20px;
pointer-events: none;
}

.hero-content h1 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: rgba(var(--padrao), 1);
    opacity: 0.9;
}

.hero-content p {
    font-size: 1.2rem;
    color: rgba(var(--padrao), 1);
    margin-bottom: 60px;
    opacity: 0.7;
}

.container-abs-footer-banner{
    z-index: 3;
    gap: 32px;
    overflow: auto;
    width: 100%;
}
.container-footer-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.container-footer-banner a{
    text-decoration: none;
    color: rgba(var(--padrao), 1);
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    min-height: 56px;
}

@media screen and (max-width: 575px) {
    .container-footer-banner{
        flex-direction: column;
    }
    .container-banner{
        gap: 0px;
    }
    .hero-banner{
        margin-top: 60px;
    }
}