#container-carrosel-and-cards{
    
    gap: 20px;
    border-radius: 6px;
}

@media(max-width: 1023px){
    #container-carrosel-and-cards{
        gap: 40px;
        border-radius: 6px;
    }
}

@media(min-width: 610px) and (max-width: 1023px){ 
    #container-carrosel-and-cards{
        gap: 20px;
        border-radius: 6px;
    }
}