#container-carrosel-and-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 160px);
    gap: 20px;
    border-radius: 6px;
}

@media(max-width: 1023px){
    #container-carrosel-and-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 150px);
        gap: 40px;
        border-radius: 6px;
    }
}

@media(min-width: 610px) and (max-width: 1023px){ 
    #container-carrosel-and-cards{
        display: grid;
        grid-template-rows: repeat(3, 150px);
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        border-radius: 6px;
    }
}