.container-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "texto", Bahnschrift, Cascadia Code, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-checkbox *{
    cursor: pointer;
    user-select: none;
}

.checkbox {
    transform: scale(1.3); 
    margin: 9px;
    vertical-align: middle; 
}