@font-face {
  font-display: block;
  font-family: "ttt-interface";
  src: url("../webfonts/ttt-interface.woff2?69900e2e78b90a695e2d261102cd1713") format("woff2");
}

i[class^="ttt-interface-"]::before, i[class*=" ttt-interface-"]::before {
  font-family: ttt-interface !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ttt-interface-heart::before {
  content: "\e900";
}
.ttt-interface-sun::before {
  content: "\e901";
}
