#chooseLanguage, #toggleTheme{
	cursor: pointer;
	color: rgba(var(--padrao), 1);
	border-radius: 3px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: solid 1px rgba(var(--padrao), 0);
	transition: border 0.2s, background-color 0.2s;
}

#chooseLanguage:hover, #toggleTheme:hover{
	background-color: var(--hover);
	border: solid 1px rgba(var(--padrao), var(--opacidade-fraca));
}

#chooseLanguage::after {
	display: none;
	content: "";
	position: absolute;
	bottom: -19px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent rgba(var(--padrao), 0.3) transparent; 	
}

#chooseLanguage:has(> #menuIdiomas.elemento-visivel)::after {
    display: flex; /* ou block */
}

#menuIdiomas{
	z-index: 999;
	position: absolute;
	top: calc(100% + 20px);
	right: 0;
	background-color: var(--fundo-card);
	border: solid 1px rgba(var(--padrao), 0.2);
	font-family: "texto", Bahnschrift, Cascadia Code, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	list-style: none;
	width: 230px;
	height: 350px;
	max-width: 95vw;
	max-height: calc((100 * var(--vh)) - 126px);
	padding: 9px 0;
	overflow: auto;
	font-size: 0.9em;
	font-weight: bold;
    box-shadow: 0px 0px 9px rgba(var(--shadow), 0.1);
	display: flex;
	flex-direction: column;
	user-select: none;
}

#menuIdiomas > li{
	position: relative;
	width: 100%;
	height: 100%;
}

.linkIdioma{
	display: flex;
	color: rgba(var(--padrao), 0.7);
	transition: background-color 0.3s, color 0.3s;	
	text-decoration: none;
	width: 100%;
	padding: 16px 32px;
	height: 100%;
}

.idioma-ativo > .linkIdioma{
	color: rgba(var(--padrao), 1);
}

#menuIdiomas > li:hover > .linkIdioma{
	color: rgba(var(--padrao), 1);
	background-color: var(--hover);
}


#menuIdiomas > .idioma-ativo::before {
  content: "\f0ac";
  font-family: "Font Awesome 7 Free"; 
  font-weight: 900;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  color: var(--destaque);
}

#menuIdiomas > li::before {
  content: "\f0ac";
  font-family: "Font Awesome 7 Free"; 
  font-weight: 900;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

#menuIdiomas > li:hover::before {
  opacity: 1;
  color: rgba(var(--padrao), 1);
}


#menuIdiomas::-webkit-scrollbar{
	background-color: var(--hover); /* A cor que você quer (ex: vermelho) */
	width: 9px;
}
#menuIdiomas::-webkit-scrollbar-thumb{
	background-color: rgba(var(--padrao), 0.3);
    border-radius: 10px;       /* Deixa as pontas arredondadas */
    border: none; /* Cria um espaçamento entre a barra e a borda */
}